.subheader {
	background: $color1;
	height: 50px;
	padding: 11px 0 9px;
	line-height: 30px;
	text-transform: uppercase;
	margin: 0;
	p {
		font-size: 10px;
		color: #dedede;
		margin: 0 0 0 15px;
		line-height: inherit;
		display: inline-block;
	}
	.subheader-menu {
		ul {
			font-size: 10px;
			@extend .reset;
			&>li {
				margin: 0;
				padding: 0;
				display: inline-block;
				border-left: 1px solid rgba(255,255,255,0.07);
				
				&:first-child {
					border-left: 0;	
				}
				&:last-child {
					a {
						padding-right: 0;
					}	
				}
				a {
					display: block;	
					padding: 0 15px;
					color: #fff;
					line-height: 30px;
					&:hover {
						color: $color3;	
					}
				}
			}	
		}
	}
	.select-wrapper {
		display: inline-block;
		float: none;
		border: 0;
		min-width: 70px;
		height: 30px;
		vertical-align: middle;
		margin: 0;
		border-right: 1px solid rgba(255,255,255,0.07);
		
		&:first-child {
			select {
				padding-left: 0;
			}	
		}
		select {
			background: none;
			height: 30px;
			color: #fff;
			font-size: 10px;
			text-transform: uppercase;
			padding: 7px 27px 9px 17px;
			
		}
		img {
			display: none;	
		}
		&:after {
			top: 8px;
			right: 13px;
			font-size: 10px;
			color: #fff;
		}	
	}
	.row {
		@media only screen and (min-width: $break-small) {
			padding: 0 5px;
		}
	}
}